body {
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
}

.card {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1a1a1a; /* Match the background color */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.left-section {
    flex: 1;
    text-align: center;
}

.left-section img {
    width: 200px;
}

.right-section {
    flex: 2;
    color: #fff;
    text-align: center;
}

.tournament-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ff5733; /* Match the title color */
}

.registration-details, .tournament-details, .registration-fee, .prize-pool {
    margin-bottom: 20px;
}

.registration-ended {
    color: #ff0000;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}